name: Unpublish from StreamX

on:
  repository_dispatch:
    types:
      - resource-unpublished
jobs:
  check-event-status:
    runs-on: ubuntu-latest
    steps:
      - env:
          CLIENT_PAYLOAD: ${{ toJSON(github.event.client_payload) }}
        run: |
          echo $CLIENT_PAYLOAD
          echo "Status: ${{ github.event.client_payload.status }}"
          echo "Path: ${{ github.event.client_payload.path }}"

  unpublish-from-streamx:
    if: (github.event.client_payload.status == 200 || github.event.client_payload.status == 204) && endsWith(github.event.client_payload.path, '.md')
    runs-on: ubuntu-latest
    steps:
      - name: Unpublish from StreamX
        run: |
          sleep 1s
          PAGE_PATH=$(echo "${{ github.event.client_payload.path }}" | sed 's/\.md$//g')
          streamxApi=${{ vars.STREAMX_PAGE_PUBLICATION_API }}
          streamxKey="${{ vars.STREAMX_KEY_PREFIX }}$PAGE_PATH"
          echo "StreamX URL: $streamxApi key: $streamxKey"
          streamxResponseCode=$(curl -i -X PUT $streamxApi \
            --write-out %{http_code} \
            --output streamx_response.txt \
            -H "Authorization: Bearer ${{ secrets.STREAMX_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d "{
                   \"key\" : \"$streamxKey\",
                   \"action\" : \"unpublish\",
                   \"eventTime\" : null,
                   \"properties\" : { },
                   \"payload\" : null
                }")
          echo -e "StreamX response:\n$(cat streamx_response.txt)"
          if [ $streamxResponseCode != 202 ]; then
            echo "Cannot unpublish from StreamX. Status code is: $streamxResponseCode"
            exit 1
          fi
        shell: bash
        